/* font using */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap');

/* font size */
body {
    font-family: 'Poppins', sans-serif;
}








@keyframes nothing {
    from {
        background-color: rgb(21, 60, 143);
    }

    to {
        background-color: magenta;
    }
}




.containner {
    display: flex;
    justify-content: center;
    margin: 50px;
    border-radius: 30px;

    color: white;
    animation: nothing 1s ease-in-out infinite;

}

.theory {
    width: 350px;
    margin: 50px;


}

.button {
    background-color: red;
    color: white;
    font-weight: 700;
}

@keyframes height {
    from {
        width: 350px;
    }
}

.button {
    height: 100px;
    font-size: 1em;
    font-weight: 900;
    width: 200px;
    border: 2px solid black;
    transition: width 1s;
    animation: height 1s ease-in-out infinite alternate;
}

.button:hover {
    background-color: rgb(11, 196, 252);
    width: 300px;


}

@keyframes identifier {
    from {
        color: crimson;
    }

    to {
        color: rgb(10, 87, 7);
    }
}

.theory h1 {
    animation: identifier 1s ease-in-out infinite;
}

.picture img {
    width: 450px;



}

/* second section work now */

.button-two button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: black;
    font-weight: 900;
}

.another-button {

    padding: 80px 40px;
    background-color: rgb(211, 208, 204);
    width: 200px;
    border-radius: 4px;
    margin: 30px;
    font-size: 20px;

}

.another-button button {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: black;
    font-weight: 900;
}


.button-two {
    padding: 50px 40px;
    background-color: #161616;
    width: 200px;
    border-radius: 4px;
    margin: 30px;
    font-size: 20px;


}

#red {
    background-color: red;
}


.blog {
    width: 312px;
    height: 300px;
    margin: 50px;

}

.another-button a {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.button-two a {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    row-gap: -200px;
}



.upcoming-match {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
}

.flex {
    display: flex;
    margin: 50px;
    margin-left: -40px;
    justify-content: center;


}

h1:hover {
    color: rgb(255, 0, 43);

}

h5:hover {
    color: rgb(221, 165, 10);
    font-weight: bold;


}




#color {
    background-color: red;
}

.goal {
    text-align: center;
    color: whitesmoke;
    background-color: hsl(0, 0%, 0%);
    padding: -1000px;
    border-radius: 30px;

}

.flex-again {
    display: flex;
    justify-content: space-between;
    margin: 20px 70px;


}

.goal-2 {
    padding: 30px;
}

.hr-br {
    margin: 0px 40px;
}

.flex-again button {
    border: none;
    background-color: black;
    color: wheat;
    padding: 50px;
}